body {
    background-color: #02326e;
}
h1,
h2,
h3,
h4,
h5, 
h6 {
    font-family: 'VT323', monospace; 
    color: #f9ED00;
}
p {
    font-family: 'Roboto Slab', serif;
}
.nav {
    background-color: #f9ED00;
    color: inherit;
}